
<header> I hate Web </header>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, to Hell</h1>

    <h3> Web is awful. welcome to it</h3>

    <img src="~/Images/addRead.jpg"c/>

</div>

<footer> Yep Still hate Web </footer>
