@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "About Page";

    <h1>@ViewData["About"]</h1>

    <img src="/images/pokemon.jfif" />

    <p>About Page.</p>

}
