@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "After Neumont";

}

    <header> I hate web, but this is a website </header>

    <h1>@ViewData["Title"]</h1>

    <img src="/images/cat.jfif" />

    <img src="/images/TheBush.png" />

    <p> After Neumont I plan on going to work at a game making company until I finish and release a game that makes me a few million, something simple like candy crush, 
        you have to love a healthy source of passive income. I also intend to hide/run from any inner demons created by this school which I'm sure we all have a few of.</p>

    <footer> John Martindale Jan. 2023 </footer>