@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Before Neumont";

}

    <header> I hate web, but this is a website </header>

    <h1>@ViewData["Title"]</h1>

    <p> Before neumont I was living in California with a dream to bake or at least learn a way to control the world, game design makes it close enough that I control the worlds I create.
        My favorite color is purple. My favorite past times are minecraft and eating food. </p>

    <img src="/images/creeperAwwMaaan.jfif" />

    <img src="/images/nom.jfif" />

    <footer> John Martindale Jan. 2023 </footer>

