@{

    ViewData["Title"] = "General Information";

}

<h1>@ViewData["Title"]</h1>

<header> I hate web, but this is a website </header>

<p> My name is John Martindale, and I plan to go into game design. If Neumont wasn't so fast when reaching out to me or the place I originally wanted to go wasn't so slow
    I would be a chef right about know or at least be able to make a decent glaze for a donut. In my first year at neumont I stole the picture of a husky below from a friend for a 
    presentation, although I enjoy most animals I prefer cats over dogs.</p>

<img src="/images/gorp.jpg" />

<img src="/images/profilePic.png" />

<footer> John Martindale Jan. 2023 </footer>
