html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.highlight{

    max-block-size:min-content;

    flex-wrap:wrap;

    color: darkred;

}

div{

    color:rebeccapurple;

}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}